<header class="header">
  <div class="container">
    <h1 class="logo animate-slide-in-left">Stefan Vojinović</h1>
    <nav class="nav">
      <a routerLink="/" class="nav-link">Početna</a>
      <a routerLink="/about" class="nav-link">O meni</a>
      <a routerLink="/skills" class="nav-link">Veštine</a>
      <a routerLink="/projects" class="nav-link">Projekti</a>
      <a routerLink="/blog" class="nav-link">Blog</a>
      <a routerLink="/contact" class="nav-link">Kontakt</a>
      <a routerLink="/memory-game" class="nav-link">Igra</a>
    </nav>
  </div>
</header>